<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportsoutclass.outclassdl">

    <!-- Get permission for reliable local dispatching on non-Google Play devices. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".StateClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
         Register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices.
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <activity
            android:name=".TeamSelection"
            android:label="@string/title_activity_team_selection"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sportsoutclass.outclassdl.TeamSelection" />
        </activity>
        <activity
            android:name=".Scenario2"
            android:label="@string/title_activity_scenario2"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sportsoutclass.outclassdl.TeamSelection" />
        </activity>
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sportsoutclass.outclassdl.TeamSelection" />
        </activity>
        <activity
            android:name=".Scenario1"
            android:label="@string/title_activity_scenario1"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sportsoutclass.outclassdl.TeamSelection" />
        </activity>
        <activity
            android:name=".HowToPage"
            android:label="@string/title_activity_how_to_page"
            android:parentActivityName=".TeamSelection"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sportsoutclass.outclassdl.MainActivity" />
        </activity>
        <activity
            android:name=".Licences"
            android:label="Licences"
            android:parentActivityName=".AboutPage"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sportsoutclass.outclassdl.AboutPage" />
        </activity>
        <activity android:name=".DLTable" />
    </application>

</manifest>
